@mixin img_32_01($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(0 / $ratio) calc(0 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_02($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-101 / $ratio) calc(0 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_03($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(0 / $ratio) calc(-101 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_04($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-101 / $ratio) calc(-101 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_05($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-202 / $ratio) calc(0 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_06($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-202 / $ratio) calc(-101 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_07($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(0 / $ratio) calc(-202 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_08($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-101 / $ratio) calc(-202 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_09($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-202 / $ratio) calc(-202 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_10($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-303 / $ratio) calc(0 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_11($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-303 / $ratio) calc(-101 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_12($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-303 / $ratio) calc(-202 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_13($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(0 / $ratio) calc(-303 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_14($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-101 / $ratio) calc(-303 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_15($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-202 / $ratio) calc(-303 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_16($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-303 / $ratio) calc(-303 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_17($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-404 / $ratio) calc(0 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_18($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-404 / $ratio) calc(-101 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_19($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-404 / $ratio) calc(-202 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_20($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(-404 / $ratio) calc(-303 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
@mixin img_32_21($ratio:3) {
  display:inline-block;
  width: calc(96 / $ratio);
  height: calc(96 / $ratio);
  background-position: calc(0 / $ratio) calc(-404 / $ratio);
  background-size: calc(500 / $ratio) calc(500 / $ratio);
  background-image: url($spriteURL+'sprite.png'+$spriteCache);
  background-repeat: no-repeat;
}
.img_32_01 {@include img_32_01();}
.img_32_02 {@include img_32_02();}
.img_32_03 {@include img_32_03();}
.img_32_04 {@include img_32_04();}
.img_32_05 {@include img_32_05();}
.img_32_06 {@include img_32_06();}
.img_32_07 {@include img_32_07();}
.img_32_08 {@include img_32_08();}
.img_32_09 {@include img_32_09();}
.img_32_10 {@include img_32_10();}
.img_32_11 {@include img_32_11();}
.img_32_12 {@include img_32_12();}
.img_32_13 {@include img_32_13();}
.img_32_14 {@include img_32_14();}
.img_32_15 {@include img_32_15();}
.img_32_16 {@include img_32_16();}
.img_32_17 {@include img_32_17();}
.img_32_18 {@include img_32_18();}
.img_32_19 {@include img_32_19();}
.img_32_20 {@include img_32_20();}
.img_32_21 {@include img_32_21();}
